Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Permite acesso direto a arquivos e diretórios reais (css, js, imagens, php)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tudo o mais vai para index.php
    RewriteRule ^ index.php [L,QSA]
</IfModule>
